
.Page5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.header{
    font-size: 80px;

}



.image-2 {
    width: 20%;
    height: 20%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  

      
  @media screen and (max-width: 740px){


.header{
    font-size: 30px;

}

.image-2 {
    width: 20px;
    height: 20px;
    background-size: auto;
    background-repeat: no-repeat;
  }
  
    
    }