.blog-container {
    display: flex;
    
    /* overflow-x: auto; */
    width: 100%;
  
    height: 100%;
    
  }

.omo{
position: relative;

background-color: pink;
width: 20%;

}
.speed-labelo {
position:absolute;
  top: 20px;
  left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-size: 30px;
  padding: 3px;

  font-weight: bold;
  }

  .speed-labelo span {
    color: #777;
    margin-left: 5px;
    white-space: nowrap;
  }

  .blog-line {
    width: 1px;
    background-color: #777;
    border-left: 3px ;
    width: 1px;
    display: block;
    margin-top:  100px;

  }

  
  .blog-preview {
    display: flex;
    position: relative;
    flex-direction: column;
    top: 20%;
    left: 3px;
    width: 90%;

    
 
  }
  
  .blog-preview-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    
  }

  .blog-preview-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    
  }
  

  .blog-preview-item h3{
    font-size: 12px;
    
  }

  .blog-preview-item h6{
    color:grey;
    text-align: left;
    
  }

  .blog-preview-item.active {
    background-color: red;
    color: red;
  }
  

  .blog-preview-item-alte {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    
  }

 

  .blog-preview-item-alte h3{
    font-size: 12px;

    color: red;
    
  }

  .blog-preview-item-alte h6{
    color:grey;
    text-align: left;
    
  }

  
  .modal {
    display: flex;
    flex: 2;
    padding: 20px;
    justify-content: center ;
    align-items: center;
    background-color: white;
   
  }
  
  .blog-content {
    flex: 0 0 100%; /* Forces each content item to take full width */
    padding: 20px;
  }
  
  /* Optional: Add styling for the active preview item */


  .modal-content{
    flex-direction: column;
    width: 100%;
    height: 80%;
  }


 .selected-title{
    margin-bottom: 100px;
    font-size: 24px;
    position:relative;
    top: 20px;
  
  
 }

 .selected-title-one{
  
 justify-content: center;
 align-items: center;
 bottom: 0;


}


@media screen and (max-width: 740px){
    .blog-preview {
     
    
        left: 0px;
        font-size: 12px;
     
      }
      .blog-line {
        width: 1px;
        background-color: #777;
        border-left: 3px ;
        align-self: stretch;
        width: 1px;
        display: block;
         /* margin-left: 10px; */
         position: relative;
         top: 0;
         left: 25px;
      
    
      }
    


}
  /* Optional: Add additional styling as desired */
  
